.date-picker-custom {
  background-color: #fff;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 6px;
  position: relative;
  top: 0;
  left: 0;
  font-family: sans-serif;
}

.date-picker-custom .react-datepicker__navigation {
  position: absolute;
  top: 1.4rem;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #F7F8FC;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.date-picker-custom .react-datepicker__navigation:hover {
  background-color: #B6BBC6;
}

.date-picker-custom .react-datepicker__navigation--previous {
  right: 3.2rem;
}
.date-picker-custom .react-datepicker__navigation--previous:hover::after ,
.date-picker-custom .react-datepicker__navigation--next:hover::after  {
  color: #fff;
}


.date-picker-custom .react-datepicker__navigation--previous::after {
  content: "<";
  color: #8C96AB;
  position: absolute;
  top: 2px;
  left: 5px;
}

.date-picker-custom .react-datepicker__navigation--next {
  right: 1.5rem;
}

.date-picker-custom .react-datepicker__navigation--next::after {
  content: ">";
  color: #8C96AB;
  position: absolute;
  top: 2px;
  right: 5px;
}

.date-picker-custom .react-datepicker__month {
  display: block;
}

.date-picker-custom .react-datepicker__month .react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
  text-align: center;
}


.date-picker-custom .react-datepicker__month .react-datepicker__week .react-datepicker__day {
  font-size: 12px;
  padding: 8px;
  color: #7C86A2;
  border-radius: 50%;
  cursor: pointer;
}

.date-picker-custom .react-datepicker__month .react-datepicker__week .react-datepicker__day:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.date-picker-custom .react-datepicker__month .react-datepicker__week .react-datepicker__day--outside-month {
  color: #E1E4E7;
}
.date-picker-custom .react-datepicker__month .react-datepicker__week .react-datepicker__day--disabled {
  color: #E1E4E7;
}

.date-picker-custom .react-datepicker__month .react-datepicker__week .react-datepicker__day--today {
  color: #fff;
  background-color: #00BC00;
  border-radius: 50%;
}

.date-picker-custom .react-datepicker__month .react-datepicker__week .react-datepicker__day--today:hover {
  background-color: #079107;
}

.date-picker-custom .react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  text-align: center;
  margin-bottom: 7px;
}

.date-picker-custom .react-datepicker__day-name {
  color: #34485E;
  font-size: 12px;
  opacity: 0.5;
  font-weight: bold;
}

.date-picker-custom .react-datepicker__current-month {
  color: #009CD5;
  padding: 10px;
  text-transform: capitalize;
}
