<script>
  document.title = 'ComparaMejor - Styleguide';
</script>
<style>
  h3{
      font-size: 0!important;
  }
  h3:after{
      content: "ComparaMejor";
      font-size: 12px!important;
  }
</style>
<link rel="icon" type="image/png" href="../public/images/favicon.ico">